

<div class="container-fluid h-100">
    <div class="d-flex h-100 flex-column p-4">
        <!-- Top -->
        <div>
            <p class="fs-3">
                Comparative Analysis
            </p>
        </div>

        <!-- Middle -->
        <div class="row shadow rounded-4 m-0 py-4 border h-100">
            <!-- Use col-6 instead of col-12 for Double Side Content -->
             
            <div class="col-12 p-4">
               
                <p class="fs-3  text-center text-secondary">
                    {{currentQuestion.question}}
                </p>

                
               
            </div>

            <div class="col-12">
                <div class="options px-5 row ">

                   <div class="col-10 mx-auto p-3" *ngFor="let option of currentQuestion.options;let i = index"> 
                    <label  [ngClass]="{'selected-option': selectedOption === option}" class="p-2 w-100 option fs-4 border border-2 rounded border-dark-subtle">
                        <input class="hidden-radio" [value]="option" [(ngModel)]="selectedOption"  type="radio" name="option" id="option_{{i}}">
                        {{option}}
                    </label>
                   </div>
                  
                
                </div>
            </div>
        </div>


        <!-- Bottom -->
        <div class="d-flex mt-3 justify-content-end align-items-center">
            <div class="px-3">
                <p class="m-0 fs-2 text-secondary"><b>04 / 05</b></p>

            </div>
            <div class="px-3">
                <button (click)="submit()" class="btn btn-lg btn-secondary">Submit</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal Popup -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        
        <div class="modal-body m-4 text-secondary text-center">
            <h2>Your Answer is Correct </h2>
            <p>Let's Continue</p>
          <button (click)="nextQuestion()" type="button" class="btn btn-secondary mt-4" data-bs-dismiss="modal">Next</button>

        </div>
        
      </div>
    </div>
  </div>