

<div class="container-fluid h-100">
    <div class="d-flex h-100 outer_box flex-column p-4">
        <div>
            <p class="fs-3">
               Spartial Relation
            </p>
        </div>

        <div class="row mx-5 py-4 main_box h-100">
            <div class="col-12">
              <div class="row p-4 shadow rounded-4 border">
                <div class="col-12">
                  <p class="fs-3 text-center text-secondary">
                    {{ getCurrentQuestion().questionWords }}
                  </p>
                </div>
                <div class="col-12 col-sm-12 text-center mx-auto py-3">
                  <img [src]="'../../../assets/images/' + getCurrentQuestion().question" alt="Question Image" class="image my-3 img-fluid" />
                </div>
      
                <div class="d-flex py-3 col-6 col-sm-3 align-items-center flex-column q1_Option" role="button"
                     (click)="selectOption(option)"  *ngFor="let option of getCurrentQuestion().option" >
                  <img [src]="'../../../assets/images/' + option.option" alt="Option Image" class="image my-3 img-fluid" />
                  <span class="fs-2"  [ngClass]="{'selected':selectOptionId==option.id}">{{ option.choose }}</span>
                </div>
              </div>
            </div>
          </div>

        <div class="d-flex mt-3 justify-content-end align-items-center">
            <div class="px-3">
                <p class="m-0 fs-2 text-secondary"><b>{{ currentQuestionIndex + 1 }} / {{ totalQuestions }}</b></p>
            </div>
            <div class="px-3">
                <button (click)="submit()" class="btn btn-lg btn-secondary">Submit</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        
        <div class="modal-body m-4 text-secondary text-center">
            <h2>Your Answer is Correct </h2>
            <p>Let's Continue</p>
          <button (click)="nextQuestion()" type="button" class="btn btn-secondary mt-4" data-bs-dismiss="modal">Next</button>

        </div>
        
      </div>
    </div>
  </div>



